* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #b8c6db;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 20px;
  margin: 20px 0px;
}

ul li label {
  cursor: pointer;
}

.quiz-container {
  background-color: #ddd;
  width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  max-width: 100%;
}

.quiz-header {
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #8e44ad;
  border: none;
  color: white;
  display: block;
  font-size: 30px;
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: #5c2970;
  cursor: pointer;
}
